<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"></head>
    <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<body>
<div class="container">
 <h1> Lista de Usu&aacute;rios </h1> 

 <table class="table table-striped">
        <thead>
          <tr>
            <th width="40%">Usuário</th>
            <th width="40%">Email</th>
            <th width="20%">Ação</th>
          </tr>
        </thead>
        <tbody>
          <% userlist.forEach(function(user){ %>
          <tr>
            <td><%= user.username %></td>
            <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
            <td>  
              <button type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              &nbsp;
              <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
          </tr>
          <%})%>

        </tbody>
    </table>
    <a href="newuser" class="btn btn-info btn-block" role="button">Adicionar Novo Usuário</a>

</div>
</body>
</html>